  <!-- Header -->
  <header id="header">
    <h1>MyBlog</h1>
    {{#if isLoggedIn}}
    <h2>Welcome <span>{{email}}</span>!</h2>
    {{/if}}
    <nav id="nav">
      <ul>
        {{#if isLoggedIn}}
        <li><a href="#/logout">Logout</a></li>
        {{else}}
        <li><a href="#/">Home</a></li>
        <li><a href="#/login">Login</a></li>
        <li><a href="#/register">Register</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>