{{>header}}
<section id="home">
  <section class="background-container">
    <h1>Welcome to MyBlog!</h1>
    <div class="auth-buttons">
      <a href="#/login">Login</a>
      <a href="#/register">Register</a>
    </div>
  </section>
</section>